{{!-- main.hbs --}}
{{> barraMenu}}

<main class="container fondo-gris p-5 mt-3">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 col-md-8">
            <h1 class="mt-3 mb-3 text-primary">Acerca del desafío</h1>
            <h2 class="mt-3 mb-3 text-primary">Profesionalizando la BD</h2>
            <div class="rounded bg-light p-3">
                <p><strong>&gt;&gt; Objetivos generales:</strong></p>
                <ul>
                    <li>Contarás con Mongo como sistema de persistencia.</li>
                    <li>Tendrás definidos todos los endpoints para poder trabajar con productos y carritos</li>
                </ul>
                <p><strong>&gt;&gt; Objetivos específicos:</strong></p>
                <ul>
                    <li>Profesionalizar las consultas de productos con filtros, paginación y ordenamientos.</li>
                    <li>Profesionalizar la gestión del carrito para implementar los últimos conceptos vistos.</li>
                </ul>
                <p><strong>&gt;&gt; Sugerencias:</strong></p>
                <ul>
                    <li>La lógica de negocio que ya tienes hecha no debería cambiar, sólo tu persistencia.</li>
                    <li>Los nuevos endpoints deben seguir la misma estructura lógica que hemos seguido.</li>
                </ul>
                <p><strong>&gt;&gt; Como ejecutar el proyecto:</strong></p>
                <ul>
                    <li>npm start (desde la carpeta raíz del proyecto)</li>
                </ul>
            </div>
        </div>
        <div class="col"></div>
    </div>
</main>

{{> piePagina}}